<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GGClickButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63485ADF1BA2B9BB009EAE90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63485AF81BA2B9BB009EAE90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63485B031BA2B9BB009EAE90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
